<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilosSesion.css">
</head>
<body>
<div class="container">
    <h1>Inicio de sesión</h1>
    <form action="/iniciosession" method="POST">
        <label for="usuario">Ingresa tu nombre:</label>
        <input type="text" id="usuario" name="usuario" required>
        <br>
        <label for="clave">Ingresa tu contraseña: </label>
        <input type="password" id="clave" name="clave" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if mensaje %}
    <div>
        <h2> {{ mensaje }} </h2>
    </div>
    {% endif %}
</div>
</body>
</html>